@*We use the @model, which is a known combination, and we then specify the type. 
I can now access properties on that model that will be passed to me, 
the instance that is, AllPies of the type that is passed through the @model here*@
@model PieListViewModel

<h1>@Model.CurrentCategory</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var pie in Model.Pies)
    {
        // calling the partial View in the loop
        <partial name="_PieCard" model="pie"/>
    }

</div>
